<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>whoami</title>
  <meta name="description" content="Like the command you know and love, but different">
  <meta name="author" content="JD">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <div class="text-center">
        {{#user}}
        <h2 class="py-2"><a href="/logout">Log out</a></h2>
        <div class="py-1">
            <span><b>Name</b>:</span>
            <span id="name"></span>
        </div>
        <div class="py-1">
            <span><b>Email</b>:</span>
            <span id="email"></span>
        </div>
        <div class="py-1">
            <span><b>Sign-up Date</b>:</span>
            <span id="signup-date"></span>
        </div>
        <div class="py-1">
            <div><b>Description</b>:</div>
            <div id="description"></div>
        </div>
        <div class="pt-4">
            <p>Would you like to change your description?</p>
            <div>
                <textarea id="description" rows="5" cols="50"></textarea>
            </div>
            <div>
                <button id="change-button" type="button">Change description</button>
            </div>
        </div>
        {{/user}}
        {{^user}}
        <h2 class="py-2"><a href='/auth/github'>Log in with GitHub</a></h2>
        <div>
            <img src="https://d25hn4jiqx5f7l.cloudfront.net/companies/logos/medium/desic-labs_1547252270.png?1547252270"/>
        </div>
        {{/user}}
    </div>

</head>

<body>
  <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
  <script src="js/scripts.js"></script>
</body>
</html>